:root {
  --descr-text-color: #757575;
  --title-text-color: #212121;
  --color-white: #ffffff;
  --color-blue: #2196f3;
  --background-color-light: #f5f4fa;
  --backgroun-color-dark: #2f303a;
  --color-black: #000000;
  --secondary-color: #afb1b8;
  --global-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
}
